| {% extends "core/index.html" %}

| {% block head_title %}About{% endblock %}

| {% block page-header %}About Us{% endblock %}

| {% block content %}
div
  .jumbotron
    .col-md-12
      h5 Welcome to Smart Network Inspector for Mobile Networks class!

| {% endblock %}
