
{% extends "core/index.html" %}
{% block head_title %}About{% endblock %}
{% block page-header %}About Us{% endblock %}
{% block content %}
<div>
  <div class="row">
    <div class="col-md-12">
      <h3>Welcome to Smart Network Inspector for Mobile Networks class @ Universidade de Aveiro!</h3><br/><br/><br/>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9 col-md-10">
              <h4>Authors</h4>
            </div>
          </div>
        </div>
        <div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-12 pull-left">
                <h4><i class="fa fa-fw fa-envelope"></i><a href="mailto:daniel.silva@ua.pt">Daniel Silva</a></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 pull-left">
                <h4><i class="fa fa-fw fa-envelope"></i><a href="mailto:tomasrodrigues@ua.pt">Tomás Rodrigues</a></h4>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>{% endblock %}