
{% extends "core/index.html" %}
{% block head_title %}Entries Details{% endblock %}
{% block page-header %}Entries Details{% endblock %}
{% block content %}
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">Existing Data</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Info</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>{% for item in list_entries %}
            <tr>
              <td>{{item.pk}}</td>
              <td>{{item.lat}}</td>
              <td>{{item.lon}}</td>
              <td>{{item.info}}</td>
              <td>{{item.msg_time}}</td>
            </tr>{% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>{% endblock %}